<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./scss/main.css">
  <title>Windmill</title>
</head>
<body>
  <div id="navbar">
    <a href="">
      <img src="https://via.placeholder.com/50">
      <h1>Windmill</h1>
    </a>
    <div style="border-left: 1px solid black;">
      <img src="https://via.placeholder.com/50">
    </div>
    <div>
      <img src="https://via.placeholder.com/50">
    </div>
    <div>
      <img src="https://via.placeholder.com/50">
    </div>
    <div>
      <img src="https://via.placeholder.com/50">
    </div>
  </div>
</body>
</html>